# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
LOCAL=true

# Database Configuration
DB_HOST=localhost
DB_NAME=hacknyu25
DB_USER=root
DB_PASSWORD=

# Add other environment variables as needed
